<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <script src="../static/js/jquery-3.3.1.slim.js"></script>
    <link href="../static/css/materialize.css" rel="stylesheet">
    <script src="../static/js/materialize.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Confirm Info</title>
</head>
<body>
    <div>
        <h4>{{parent1.guardian}}: {{parent1.first_name}} {{parent1.middle_name}} {{parent1.last_name}}</h4>
        <ul>
            <li>Carrier: {{parent1.carrier}}</li>
            {% if parent1.phone_number %}
            <li>
                Phone: {{parent1.phone_number}}
                {% if parent1.texting == '1' %}
                <i class="material-icons">check_box</i>
                {% else %}
                <i class="material-icons">cancel</i>
                {% endif %}
            </li>
            {% endif %}
            {% if parent1.email %}
            <li>
                Email: {{parent1.email}}
                {% if parent1.emailing =='1' %}
                <i class="material-icons">check_box</i>
                {% else %}
                <i class="material-icons">cancel</i>
                {% endif %}
            </li>
            {% endif %}
            <li>Notes: {{parent1.notes}}</li>
        </ul>
    </div>
    {% if parent2 %}
    <div>
        <h4>{{parent2.guardian}}: {{parent2.first_name}} {{parent2.middle_name}} {{parent2.last_name}}</h4>
        <ul>
            <li>Carrier: {{parent2.carrier}}</li>
            {% if parent2.phone_number %}
            <li>
                Phone: {{parent2.phone_number}}
                {% if parent2.texting == '1' %}
                <i class="material-icons">check_box</i>
                {% else %}
                <i class="material-icons">cancel</i>
                {% endif %}
            </li>
            {% endif %}
            {% if parent2.email %}
            <li>
                Email: {{parent2.email}}
                {% if parent2.emailing =='1' %}
                <i class="material-icons">check_box</i>
                {% else %}
                <i class="material-icons">cancel</i>
                {% endif %}
            </li>
            {% endif %}
            <li>Notes: {{parent2.notes}}</li>
        </ul>
    </div>
    {% endif %}
    {% for student in students %}
    <div>
        <h4>{{student.first_name}} {{student.middle_name}} {{student.last_name}}</h4>
        <ul>
            <li>Student ID: {{student.student_id}}</li>
            <li>Enrolled In:
                {% if student.math == '1' %}
                Math
                {% endif %}
                {% if student.reading == '1' %}
                Reading
                {% endif %}

            </li>
        </ul>
    </div>
    {% endfor %}
    <form class="" action="/processing" method="post">
        <input type="hidden" name="parent1" value="{{parent1}}">
        <input type="hidden" name="parent2" value="{{parent2}}">
        <input type="hidden" name="students" value="{{students}}">
        <button type="submit" name="button">Confirm</button>
    </form>
</body>
</html>
