<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../static/js/jquery-3.3.1.slim.js"></script>
    <link href="../static/css/materialize.css" rel="stylesheet">
    <script src="../static/js/materialize.js"></script>
    <link rel="stylesheet" href="/static/student.css">
    <title>Document</title>
</head>
<body>
    <div class="header container-fluid">
        <h1>{{student[4]}} {{student[5]}} {{student[6]}}</h1>
        <h3>Student ID: {{student[1]}}</h3>
    </div>
    <hr>
    <div class="row">
        <div class="notes col col-md-7">
            Notes: {{student[9]}}
        </div>
        <div class="info col col-md-4">
            {% if parent1 %}
            <p>{{parent1[9]}}: <a href="/parent/page/{{parent1}}">{{parent1[1]}} {{parent1[2]}} {{parent1[3]}}</a></p>
            {% endif %}
            {% if parent2 %}
            <p>{{parent2[9]}}: <a href="/parent/page/{{parent2}}">{{parent2[1]}} {{parent2[2]}} {{parent2[3]}}</a></p>
            {% endif %}
            {% if student[7] == 1 %}
            <p>Math: Yes</p>
            {% else %}
            <p>Math: No</p>
            {% endif %}
            {% if student[8] == 1 %}
            <p>Reading: Yes</p>
            {% else %}
            <p>Reading: No</p>
            {% endif %}
            <p>Qrcode: {{student[10]}}</p>

        </div>
    </div>


</body>
</html>
