<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <script src="../static/js/jquery-3.3.1.slim.js"></script>
    <link href="../static/css/materialize.css" rel="stylesheet">
    <script src="../static/js/materialize.js" type="text/javascript"></script>
    <title>Add Second Parent</title>
</head>
<body>
<h1>Add Parent</h1>

<form action="/student/form" class="form-horizontal" id="parentForm" method="post" name="parentForm">
    <div class="form-group">
        <label class="control-label col-md-2" for="first_name">First Name</label>
        <div class="col-md-10">
            <input class="form-control disable" name="first_name" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="middle_name">Middle Name</label>
        <div class="col-md-10">
            <input class="form-control disable" name="middle_name" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="last_name">Last Name</label>
        <div class="col-md-10">
            <input class="form-control disable" name="last_name" type="text">
        </div>
    </div>
    <!--            TODO make carrier drop down -->
    <div class="form-group">
        <label class="control-label col-md-2" for="carrier">Carrier</label>
        <div class="col-md-10">
            <input class="form-control disable" name="carrier" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="phone_number">Phone Number</label>
        <div class="col-md-10">
            <input class="form-control disable" name="phone_number" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="email">Email</label>
        <div class="col-md-10">
            <input class="form-control disable" name="email" type="text" value="">
        </div>
    </div>
    <div class="form-group row form-check">
        <label for="emailing">Emailing
            <input class="form-check-input disable" for="emailing" id="emailing" name="emailing" type="checkbox" value='1'>
            <span for="emailing"></span>
        </label>
        <label for="texting">Texting
            <input class="form-check-input disable" for="texting" id="texting" name="texting" type="checkbox" value=1>
            <span for="texting"></span>
        </label>
    </div>
    <div class="form-group row">
        <label class="control-label  col col-md-2" for="guardian">Guardian</label>
        <select class="form-check-input col col-md-10 .browser-default disable" name="guardian" style="display: block;">
            <option disabled selected value="">Guardian Status</option>
            <option value="Father">Father</option>
            <option value="Mother">Mother</option>
            <option value="Uncle">Uncle</option>
            <option value="Aunt">Aunt</option>
            <option value="Grandfather">Grandfather</option>
            <option value="Grandmother">Grandmother</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="notes">Notes</label>
        <div class="col-md-10">
            <input class="form-control disable" name="notes" type="textarea">
        </div>
    </div>
    <div class="form-group row form-check">
        <label for="second_parent">No Additional Parent
            <input class="form-check-input" for="second_parent" onchange="check()" id="second_parent" name="second_parent" type="checkbox">
            <span for="second_parent"></span>
        </label>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="/"><button name="cancel" type="button">Cancel</button></a>
            <button name="submit" type="submit">Submit</button>
        </div>
    </div>
    <input type="hidden" name="parent1" value="{{parent1}}">
    <input type="hidden" id="parent_value" name="parent_value" value='false'>
</form>
<script type="text/javascript">
    function check() {
        var $another_parent = $('#another_parent');
        var $disable = $('.disable');
        if(document.getElementById('second_parent').checked === true) {
            $disable.attr("disabled","disabled");
            $another_parent.val(false);
        } else {
            $disable.removeAttr('disabled');
            $another_parent.val(true);
        }
    }
</script>
</body>
</html>
